h1{
  background-color: blueviolet;
  color: whitesmoke;
  text-align: center;
  text-shadow: brown 0.5;
}

section {
  background-color: cyan;
  font-size: 50px;
}

header {
  background-color: wheat;
  border: 2px solid black;
  box-shadow: 0 0 10px violet;
  border-radius: 50%;
}

.letter {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}